/* ============
     Fonts
============ */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
/* font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
/* font-family: 'Baloo', cursive; */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
/* font-family: 'Quicksand', sans-serif; */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============
General style
============ */
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* ============
Header style
============ */
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #2c4965;
  font-family: 'Quicksand', sans-serif;
  z-index: 99;
}
nav .logo {
  max-width: 300px;
  height: 60px;
  padding: 10px 20px;
}
nav .logo img {
  max-width: 300px;
  margin: auto;
}
nav ul {
  width: 200px;
  height: 60px;
  margin-right: 20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav li {
  text-transform: uppercase;
  color: white;
  font-size: 1.125rem;
}
nav li:hover {
  color: #c9cfd2;
  cursor: pointer;
}
.cover-picture {
  margin-top: 60px;
  height: 700px;
  width: 100%;
  position: relative;
  display: flex;
  background-image: url("images/dr4.jpg");
  background-size: cover;
  background-position: 50% 0;
}
.cover-picture .page-header {
  height: 130px;
  width: 100%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 10fr 1fr 6fr;
  background-color: #2c496538;
}
.page-header .header-left {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
}
.header-left h1,
.header-left h2 {
  margin-right: 50px;
  margin-left: 30px;
  width: 90%;
  color: #3a5368;
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5rem;

  line-height: 1.1;
}
.header-left h2 {
  color: #00a5ff;
}
.header-left h1 {
  font-size: 3rem;
  font-weight: 500;
}
.page-header .header-center {
  display: flex;
}
.header-center .flag {
  opacity: 0.8;
}
.header-center .heart {
  margin-left: -60px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.page-header .header-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-right img {
  opacity: 0.8;
  margin: 0 30px;
  width: 90%;
}

/* ============
Content section
============ */
section {
  padding: 100px 0;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}
section .section-wrapper {
  margin: auto;
  width: 80%;
}
section.bg-section {
  background-color: #dcebf6;
}
/* ---- section header ---- */
.section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-header h3 {
  color: #3a5368;
  font-size: 2rem;
  font-weight: 500;
}
.section-header .middle-h3 {
  color: #2bb2fc;
}
.section-header hr {
  width: 50px;
  margin: 20px 0;
  border: 2px solid #2bb2fc;
}
/* ---- section content ---- */
section .section-content {
  display: grid;
  justify-items: center;
  color: #2f2d2d;
  font-size: 1.375rem;
}
section .kol-4-2 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
section .kol-3 {
  padding-top: 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
/* -- content: number-background -- */
.section-content .number-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-box .number {
  margin-top: 25px;
  color: #2bb2fc;
  font-family: 'Baloo', cursive;
  font-size: 17.5rem;
  opacity: 0.4;
}
.number-box div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.number-box div.adjusted-text-2 {
  padding-left: 15px;
}
.number-box div.adjusted-text-3 {
  padding: 0 45px 0 20px;
}
/* -- content: icons above title -- */
.section-content .icon-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.icon-box img {
  max-width: 100px;
}
.icon-box h4 {
  padding: 15px 0 10px;
  color: #075cad;
  font-weight: 600;
}
.icon-box p {
  max-width: 270px;
  text-align: center;
}
/* -- content: paket boxes -- */
.section-content .paket-box {
  height: 400px;
  width: 100%;
  max-width: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #67b0de; /* #5365a8 */
  border-radius: 50px;
}
.section-content .paket-box:nth-child(3) {
  background-color: #5365a8;
}
.section-content .paket-box:nth-child(2) {
  background-image: linear-gradient(#67b0de, #5365a8);
}
.paket-box .paket-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paket-box img {
  margin-bottom: 10px;
  max-width: 35px;
}
.paket-box h4 {
  color: white;
  font-size: 1.6875rem;
  font-weight: 700;
}
.paket-box hr {
  width: 35px;
  margin: 20px 0;
  border: 2px solid white;
}
.paket-box ul {
  align-self: flex-start;
  margin:auto 5px;
}
.paket-box li {
  color: white;
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.1;
  text-indent: -5px;
}
.paket-box li::before {
  content: "-";
}
/* ==========
Footer
========== */

footer {
  margin-top: 60px;
  padding: 60px 0 10px;
  background-color: #2c4965;
  color: #c9cfd2;
  font-family: 'Quicksand', sans-serif;
}
footer .footer-wrapper {
  margin: auto;
  width: 80%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "contact  menu    social  logo      "
    "space-1  space-1 space-1 copyright ";
}
.footer-wrapper h4 {
  font-weight: bold;
  text-transform: uppercase;
}
.footer-wrapper hr {
  margin: 10px 0;
  max-width: 150px;
  border: 1px solid white;
}
.footer-wrapper div {
  display: flex;
  flex-direction: column;
}
.footer-wrapper a,
.footer-wrapper p {
  padding-bottom: 5px;
  line-height: 1.1;
}
.footer-wrapper a:hover {
  color: white;
}
.footer-contact {
  grid-area: contact;
}
.footer-menu {
  grid-area: menu;
}
.footer-social {
  grid-area: social;
}
.footer-logo {
  grid-area: logo;
  width: 100%;
}
.copyright {
  grid-area: copyright;
  font-size: 0.875rem;
  text-align: center;
}
.footer-social .social-icons {
  flex-direction: row;
}
.social-icons img {
  min-width: 40px;
  width: 15%;
  padding-right: 10px;
}
.social-icons img:hover {
  cursor: pointer;
}

/* ==========
Media
========== */
@media all and (max-width: 1600px) {
  html {
    font-size: 90%;
  }
  .cover-picture .page-header {
    grid-template-columns: 10fr 1fr 5fr;
  }
}
@media all and (max-width: 1460px) {
  .cover-picture .page-header {
    grid-template-columns: 10fr 1fr 4fr;
  }
  .header-right img {
    width: 85%;
  }
  .section-content .paket-box {
    padding-left: 35px;
  }
}
@media all and (max-width: 1295px) {
  .header-left h1 {
    font-size: 2.62rem;
  }
  .header-left h2 {
    font-size: 3rem;
  }
}
@media all and (max-width: 1135px) {
  html {
    font-size: 75%;
  }
  nav li {
    font-size: 1.3rem;
  }
  section .kol-4-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-right img {
    margin: 0 10px;
  }
}
@media all and (max-width: 1000px) {
  .section-content.kol-1 {
    grid-template-columns: 1fr;
  }
  .section-content .paket-box {
    height: 200px;
    max-width: 500px;
    padding: 0;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .paket-box hr {
    display: none;
  }
  .paket-box li {
    font-size: 1.35rem;
    line-height: 1.2;
  }
  footer .footer-wrapper {
    width: 90%;
    font-size: 130%;
  }
}
@media (max-width: 755px) {
  .wrapper {
    font-size: 200%;
  }
  footer .footer-wrapper {
    background: green;
  }
}
